h1 {
    font-size: 3.5em;
    margin: 1vw 0;
}


/* Basic navigation bar styles */
nav {
    background-color: #45607c;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    text-transform: uppercase;
}

nav a {
    color: white;
    font-size: 1.2em;
    text-align: center;
    padding: 24px 24px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

nav .logo-link {
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 5vw;
}

nav .nav-links {
    display: flex;
    align-items: center;
}

nav .nav-links > *:is(:last-child) {
    margin-right: 5vw;
}

nav a:hover,
nav a:focus,
nav .logo-link:hover,
nav .logo-link:focus {
    color: #8BA3C7;
}
  

/* Set the background color of the page */
body {
    background-color: #8BA3C7;  
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-top: 50px;
}

/* Center the content */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container p{
    font-size: 1.2em;
    margin-top: -5px;
    font-weight: 500;
}
/* Table in Resources */
table{
    width: 65%;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
}
th{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;

}
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
table  a {
    text-decoration: none;
    color: white;
    font-weight:bold;
}
table a:hover {
    text-decoration: underline;
} 
.tableResources td:last-child {
    width: 60%;
}

.tableSeminars td:first-child {
    width: 20%; /* 设置第一个单元格的宽度 */
}
.tableSeminars td:last-child {
    width: 45%; /* 设置最后一个单元格的宽度 */
}
/* Smooth scrolling behavior */
html {
    scroll-behavior: smooth;
}
